.theme__toggle {
  display: flex;
  align-items: center;
}
.theme__toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  top: -999px;
}
.theme__toggle .sun,
.theme__toggle .moon {
  transform: scale(0);
  transition: var(--transition);
  color: var(--text-color);
}
.theme__toggle input:not(:checked) ~ .icon__container .sun {
  transform: scale(1);
}
.theme__toggle input:checked ~ .icon__container .moon {
  transform: scale(1);
}
